<h2 class="ui center aligned icon header">
	<em>MessageMe</em>
</h2>

<h2 class="ui center aligned icon header">
	<i class="gamepad icon"></i>
</h2>

<h4 class="ui center aligned header">
	<div class="ui message">Edit your profile information.</div>
</h4>

<div class="ui placeholder raised segment">
  <div class="ui one column very relaxed stackable grid">
  	<%= render 'form' %>
  </div>
</div>
