<h3 class="ui center aligned icon header">
	Welcome to <em>MessageMe</em></h3>
  <h2 class="ui center aligned icon header"><i class="gamepad icon"></i></h2>
<h4 class="ui center aligned header">
	<div class="ui message">Please Sign up to continue. Provide valid e-mail for password reset.
	</div>
</h4>

<div class="ui placeholder raised segment">
  <div class="ui one column very relaxed stackable grid">
  	<%= render 'form' %>
  </div>
</div>
